# maven
target
.ant-targets-build.xml
src/ant/.ant-targets-upload-dist.xml

# gradle
build
.gradle

# vim
*.swp

# idea
*.iml
*.iws

# eclipse
.classpath
.classpath.old
.settings
.springBeans
.project
